.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: white;
    /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav a {
    color: white;
}

.navbar-default {
    background-color: transparent;
    border-color: #030033;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: white;
    /*change color of links in drop down here*/
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: underline;
    /*Change rollover cell color here*/
}
