<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <nav class="navbar navbar-default" id="navbar">
            <div id="navbar">
                <ul class="nav navbar-nav">
                    <li><a routerLink="user:username" routerLinkActive="active">MY PROFILE</a></li>
                    <li><a routerLink="art" routerLinkActive="active">MY ART</a></li>
                    <li><a routerLink="pastorders" routerLinkActive="active">PAST ORDERS</a></li>
                    <li><a routerLink="update" routerLinkActive="active">UPDATE PROFILE</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>