<button class="btn btn-primary details" (click)="lgModal.show()" (click)="$event.preventDefault()">DETAILS</button>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">{{product.title}}</h1>
      </div>
      <div class="modal-body">
        <div class="row product-container">
          <div class="col-md-6 image">
            <img class="image" src="{{product.imageUrl}}" alt="{{product.title}}">
          </div>
          <div class="col-md-6 info-container info ">
            <div class="description">
              <h3 class="category">Description:</h3>
              <hr>
              <p class="info">
                {{product.description}}
              </p>
              <hr>
            </div>
            <div class="row">
              <div class=" col-md-6 color">
                <span class="category">color:</span> {{product.color}}
              </div>
              <div class=" col-md-6">
                <span class="category">Category:</span> {{product.category}}
              </div>
            </div>
            <div class=" row price">
              <span class="category">Price:</span> {{product.price|currency:'EUR':true}}
            </div>
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-success add-to-basket-btn" [disabled]="!isLogedIn" (click)="addToBascket([$event,product])">ADD TO BASKET</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>