.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    color: white;
}

/*.form-control.avatar {
    border-radius: 0;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    color: white;
}*/

.bold-label {
    font-size: 1.2em;
}

h2 {
    color: gold;
}

.alert-danger {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 0;
    color: orangered;
}

.btn.btn-lg {
    border-radius: 0;
    background-color: #00C000;
}

.btn.btn-lg:hover {
    background-color: #408000;
    color: white;
}

option {
    color: black;
}