<!DOCTYPE html>
html
  head
    title Stormtroopers
    link(rel="stylesheet", href="static/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")

    script(src="/libs/core-js/client/shim.min.js")

    script(src="/libs/zone.js/dist/zone.js")
    script(src="/libs/reflect-metadata/Reflect.js")
    script(src="/libs/systemjs/dist/system.src.js")

    if result.isProd
      script(src="/static/systemjs.config.js")
    else
      script(src="/static/systemjs.config-dev.js")
    
    script
      | System.import('app').catch(function(err){ console.error(err); });
    base(href="/")
  body
    my-app
        Loading AppComponent content here ...