<div class="row wrapper" [@flyInOut]="true">
    <div class="col-md-4 col-md-offset-4">
        <h2>Please fill in your details</h2>
        <br>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                 <strong [hidden]="username.valid || username.pristine"
                    class="alert alert-danger">
                    Username is required!
                  </strong>
                <input type="text" class="form-control" id="username" name="username"
                required 
                [(ngModel)]="newUser.username" 
                 #username="ngModel"
                 autofocus>
            </div>

            <div class="form-group">
                <label for="firstname">First Name</label>
                <strong [hidden]="firstname.valid || firstname.pristine"
                    class="alert alert-danger">
                    First Name is required!
                </strong>
                <input type="text" class="form-control" id="firstname" name="firstname"
                required 
                [(ngModel)]="newUser.firstname" 
                 #firstname="ngModel"
                 autofocus>
            </div>

             <div class="form-group">
                <label for="lastname">Last Name</label>
                <strong [hidden]="lastname.valid || lastname.pristine"
                    class="alert alert-danger">
                    Last Name is required!
                </strong>
                <input type="text" class="form-control" id="lastname" name="lastname"
                required 
                [(ngModel)]="newUser.lastname" 
                 #lastname="ngModel"
                 autofocus>
            </div>
           
            <div class="form-group">
                <label for="email">Email Address</label>
                <strong [hidden]="email.valid || email.pristine"
                    class="alert alert-danger">
                    Email Address is required!
                </strong>
                <input type="text" class="form-control" id="email" name="email"
                required 
                [(ngModel)]="newUser.email" 
                 #email="ngModel"
                 autofocus>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <strong [hidden]="password.valid || password.pristine"
                    class="alert alert-danger">
                    Password is required!
                </strong>
                <input type="text" class="form-control" id="password" name="password"
                 required
                 [(ngModel)]="newUser.password"
                 #password="ngModel">
            </div>
            <button type="submit" class="btn btn-lg" [disabled]="!registerForm.form.valid">REGISTER</button>
        </form>
    </div>
</div>