<div class="row text-center">
    <div class="col-md-12 main-image-wrapper">
        <img class="img-responsive" [src]="fullPath" alt="rogue one">
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-md-12">
        <h4>NEW PRODUCTS</h4>
        <div class="wrapper" *ngFor="let product of recentProducts">
            <st-product-overview [product]="product"></st-product-overview>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
<div class="text-center">
    <h4>TOP IMAGES</h4>
    <div class="wrapper" *ngFor="let publication of topPublications">
        <div class="image-container">
            <a routerLink="/publications/{{publication._id}}" routerLinkActive="active">
                <div class="image">
                    <img src={{publication.imageUrl}} alt="top fan art image" class="single-image">
                </div>
            </a>
        </div>
        <ac-stars [rating]="(publication.rating | sumPipe: 'rate') / publication.rating.length" [publication]="publication">
        </ac-stars>
    </div>
</div>