<h1>product Details</h1>
<h1>{{product?.name}}</h1>
<div>
    {{product?.price}}
</div>
<div>
    {{product?.images}}
</div>
<div>
    {{product?.quantity}}
</div>
<div>
    {{product?.description}}
</div>
<div>
    {{product?.category}}
</div>
<div>
    {{product?.color}}
</div>



    <!--_id: number;
    title: string,
    description: string,
    price: number;
    quantity: number;
    category: category,
    isConfigurable: Boolean,
    images: [URL],    
    color: String

}

enum category {
    'mug', 't-shirt', 'poster', 'gadgets', 'toys', 'costumes', 'books'
}-->