div.publications {
    margin-top: 3em;
    font-size: 1.1em;
}
div.head {
    float: right;
    margin: 1em;
}
h2 {
    color: gold;
}
.btn.btn-lg {
    border-radius: 0;
    background-color: #00C000;
}
.btn.btn-lg {
    background-color: #408000;
    color: white;
}