@font-face {
    font-family: starWars;
    src: url('static/app/assets/fonts/STARWARS.woff') format('woff'), /* Super Modern Browsers */
    url('static/app/assets/fonts/STARWARS.ttf') format('truetype'), /* Safari, Android, iOS */
    url('static/app/assets/fonts/STARWARS.svg#svgFontName') format('svg');
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #222222;
    color: white;
}

img {
    width: 200px;
}

.text {
    padding: 20px;
}

.logo {
    color: gold;
    font-size: 1.5em;
    margin-top: 20px;
    font-family: starWars, "Arial Black", Gadget, sans-serif;
}