<div class="row">
    <div class="col-md-12 text-center">
        <h2>Past Orders</h2>
    </div>
</div>
<div class="row">
    <div *ngFor="let order of pastOrders" class="col-md-4">
        <div class="orders">
            <st-product-overview [product]="order.product"></st-product-overview>
            <div class="order-details">
                <p>Quantity: {{order.quantity}}</p>
                <p>Total paid: {{order.total|currency:'EUR':true}}</p>
            </div>
        </div>
    </div>
</div>