h2 {
    color: gold;
    margin-bottom: 1em;
}

img {
    width: 200px;
}

.image {
    padding-left: 0;
    display: inline-block;
    height: 250px;
    width: 200px;
    overflow: hidden;
}

.movie-container {
    margin-bottom: 30px;
    background-color: #282727;
}

.info {
    color: #969595;
}

.category {
    color: white;
}
.link-title{
    color: inherit; 
}
.pagination  {
    display: block;
}

li {
    list-style: none;
}