body{
    margin:0px;
    padding: 0px;
}

.movies-list{
    list-style: none
}
.module{
    height: 250px;
    width: 1154px;
    margin-top: 20px;
    background-color: #282727;
    
}
.title{
    text-align: center;
    text-decoration: bold;
    text-decoration: underline;
}
.image-wrapper{

    display: inline-block;
    height: 250px;
    width: 300px;
    overflow-y: hidden;;
}
.content-wrapper{
    vertical-align: top;
    width: 700px;
    /*padding: 10px;  */
    display: inline-block;

}
.desc{
    vertical-align: center;
    height: 180px;
    overflow: hidden;
}

.content-wrapper a{
    color: white
}
