<h1 class= title>Movies</h1>

<section class="module display-view display" data-module="display" *ngFor="let movie of movies"  id="movie-[i]">
  <div class="bound layout-right">
    <div class="blocks-bound">
      <div class="blocks-container ref-1-[i]">
        <ul class="blocks-list-view active el3_1A">
          <div class="building-block-config el3_1A films-content    full image-left content-height-fixed ratio-2x1 short  mob-width-full mob-image-top           ">
            <div class="building-block     ">
              <div class="building-block-aspect">
                <div class="building-block-padding">
                  <div class="building-block-wrapper">
                    <div class="image-wrapper">
                      <div class="aspect">
                        <a class=movie-title href="" [routerLink]="[ movie.Title]" routerLinkActive="active"> <img  src={{movie.Poster}}
                            class="thumb reserved-ratio" alt="{{movie.Title}}"> </a>
                      </div>
                    </div>
                    <div class="content-wrapper   ">
                      <div class="bedazzlement"></div>
                      <div class="content-bumper">
                        <div class="content-info">
                          <h3 class="title">
                             <a class=movie-title href="" [routerLink]="[ movie.Title]" routerLinkActive="active"> <span class="long-title">{{movie.Title | uppercase}}</span> </a>
                          </h3>
                          <div class="desc-sizer">
                            <a class=movie-title href="" [routerLink]="[ movie.Title]" routerLinkActive="active">
                              <p class="desc">{{movie.Plot}}.</p>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="decal"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="module-spinner" style="top: 1390px;"> <span class="loader"></span> </div>
</section>

<div class="row">
  <div class="col-lg-6" >
    <hr/>
    <pagination [totalItems]="totalMovies" [(ngModel)]="currentPage" [maxSize]="maxSize" class="pagination-sm"
                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)">></pagination>
  </div>
</div>