<div class="row text-center">
  <div class="col-md-12">
    <h2 class=t itle>Star Wars Movies</h2>
  </div>
</div>


<div class="row movie-container" *ngFor="let movie of movies" id="movie-[i]">
    <div class="col-md-2 image">
       <a class=movie-title href="" [routerLink]="[ movie.Title]" routerLinkActive="active">
          <img src={{movie.Poster}} alt={{movie.Poster}}>
       </a>
    </div>
    <div class="col-md-9 info-container">
        <h3>{{movie.Title | uppercase}}</h3>
        <div class="info">
            <div>
                <span class="category"></span>{{movie.Plot}}
            </div>
        </div>
    </div>
</div>