<div class="row text-center">
    <div class="col-md-12">
        <h2>About Stormtroopers</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 wrapper ">
        <div>
            <h4>THE IDEA</h4>
            <ul>
                <li>
                    <p>Stormtroopers is a web application inspired by the need for merchandise that is created by star wars
                        fans. Our users/stormtroopers are these who create and decide what drawings to be used for the various
                        products offered by us. Can you imagine a t-shirt or a mug with the drawing you have created? Yes,
                        that’s for real and it’s not so difficult to do it! All you need to do is to upload your drawing
                        and wait for other users to rate it. At the end of every week the top 3 most rated drawings get printed
                        on all types of products we offer and become available for purchase to everyone. Isn’t that cool?
                        :)
                    </p>
                </li>
                <li>
                    <p>Don’t be shy! Roll you sleeves up and start creating the next fan inspired t-shirt. If you don’t have
                        any ideas now, you always can browse through the already uploaded <a href="/#/publications">drawings</a>                        and the
                        <a href="/#/products">products</a> we have created with them. And don’t forget to rate other troopers’
                        drawings, so the wheel can keep rolling.
                    </p>
                </li>
            </ul>
            <h4>CONTRIBUTORS</h4>
            <ul>
                <li>George Gerogiev a.k.a Pamy666</li>
                <li>Galin Stoychev</li>
                <li>Stoyan Yankov a.k.a Ivan Banev</li>
            </ul>
            <h4>SPECIAL THANKS TO</h4>
            <ul>
                <li>Teleric Academy</li>
            </ul>
            <h4 class="force">May the force be with you!</h4>
        </div>
    </div>
</div>