input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    border-radius: 0;
    width: 300px;
    color: white;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}