<div class="row">
    <div class="col-md-12 text-center">
        <h2>{{currentUser.displayname}}({{currentUser.username}})</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2 text-center">
        <img src="{{currentUser.avatarUrl}}" alt="user avatar">
    </div>
    <div class="col-md-5 user-info">
        <span><strong>First name: </strong> {{currentUser.firstname}}</span>
        <span><strong>Last name:</strong> {{currentUser.lastname}}</span>
        <span><strong>Email:</strong> {{currentUser.email}}</span>
        <span><strong>Phone number:</strong> {{currentUser.phoneNumber}}</span>
        <span><strong>Address:</strong> {{currentUser.address}}</span>
        <span><strong>Avatar:</strong> {{currentUser.avatarName}}</span>
    </div>
</div>