.button{
    margin-left: 20px;
    background-color: cadetblue
    /*#282727;*/

}

#sort-by option{
    color: black;
}
.filter input {
    color: black;
}
.wrapper{
    display: inline-block;
    float: left;
  }