<h1>Products List Page</h1>
<st-filter (changed)="filterChanged($event)"></st-filter>
<st-sort (sort)="sortCollection($event)" [sortProp]="sortProp"></st-sort>
<form #productForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="wrapper  text-center " *ngFor="let product of products|customFilter:searchText:filterProp | customSort :sortCriteria ">
        <product-overview [product]=" product "> </product-overview>
        <button type="submit" class="btn btn-success add-to-basket-btn" [disabled]="!isLogedIn" (click)="addToBascket([$event,product])">ADD TO BASKET</button>
    </div>
</form>
