.product-container {
    /*height:350px;*/
    width: 220px;
    background-color: #282727;
    margin: 20px;
    padding: 10px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.title{
    height: 40px;
    overflow: hidden;
}

.info-container {
    margin-top: 10px;
    /*position: absoute;
    bottom: 0px;*/
    /*left: 0;*/
}

.title, .price {
    
    margin-bottom: 10px;
}