.toast-container {
    /*-webkit-transition-property: opacity, bottom, left, right, width, margin, border-radius;
  transition-property: opacity, bottom, left, right, width, margin, border-radius;
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;*/
    position: fixed;
    /*left: 0;*/
    right:0;
    top: 0;
    height: 60px;
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.toast-card {
    width: 100%;
    z-index: 1;
    padding: 2px;
    position: relative;
    background-color: #408000;
    text-align: center;
    color: white;
}

.toast-card .toast-message {
    margin: 1em 4em 1em 4em;
    font-size: 1.2em;
}