<div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <label class="mdl-textfield__label" for="filterText">Filter...</label>
    <input type="text" id="filterText" class="mdl-textfield__input" [(ngModel)]="filter" (keyup)="filterChanged($event)" />
  </div>
</div>

<div id="sort-by">
  <span class="prod-list-option-label">Sort by</span>

  <select name="p" #sortChoice (change)="sortCriteria = sortChoice.value" (change)="sortCollection($event)" > 

<option  *ngFor="let prop of sortProp" value="{{prop.queryParam}}" >{{prop.displayValue}}</option>

</select>
